# dependencies
/node_modules
/.pnp
.pnp.js
# /package-lock.json  # Needed for GitHub Actions npm ci
/yarn.lock
/pnpm-lock.yaml

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/dist

# misc
.DS_Store
*.pem
.vscode/
.idea/
*.swp
*.swo
*~

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*

# local env files
.env
.env*.local
.env.production

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Editor directories and files
.history/
*.sublime-project
*.sublime-workspace

# OS
Thumbs.db
.Spotlight-V100
.Trashes
